
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body{
    font-family: 'Oswald', sans-serif;
     margin: 0;
}
.container{
    max-width: 1140px;
    margin: auto;
}
h1{
    font-family:'Courier New', Courier, monospace;
    font-weight:bolder;
    font-size: 80px;
    line-height:90px;
    margin:0;
    margin-bottom: 3px;
}
.h2{
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 30px;
    line-height:45px;
    margin: 40px 0;


}
.buttom{
    border:2px solid #454545;
    display:inline-block;
    padding: 10px 15px;
    border-radius:3px;
    color:#454545;
    text-decoration:none;
}
.buttom:hover{
    color:#FFF;
    background-color:#454545;
}

.barra{

background-color:rgb(0, 132, 255);
width:168px;
height:22px;

}
header .line{
    background-color: #ffff01;
    height: 10px;
}
.header--area{

    align-items:center;
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.header-left img{

    width:64px;
    height: 64px;
}
.header--search input{
    font-size: 16px;
    padding:10px 15px;
    border: 1px solid #999999;
    outline: 0;
    width: 100%;
    max-width: 220px;
}
.header--search form{

display: flex;

}
.header--search button{
    border: 0;
    background: transparent;
    margin-left: -50px;
    cursor: pointer;
}
.header--search button img{
    width: 35px;
    height: 35px;
}
.banner{
    background-image:url('../images/imagem\ fundo.png');
    background-position:center;
    background-size:cover;
    padding-bottom:90px;

}
.images{

    margin-top:40px;
}
.images img{
    width: 300px;
    height:300px;
    border: 2px solid #005c80;
    margin-right: 70px;
    border-radius: 2%;
}
.area1--img1{
    background-color: green;
    height:300px;
    background-image:url('../images/imagem\ fundo.png');
    background-size:cover;
    background-position:center;
}

.area1--img2{
    grid-column: 2/3;
    grid-row: 1/3;
    background-image:url('../images/entrada\ cidade.avif');
    background-size:cover;
    background-position:center;
}
.area1 {
display: grid;
grid-template-columns:repeat(2,1fr);
}
.area1--content{
    padding:80px; 

}
.texto--area1{

    margin-bottom:15px;

}
.texto2--area1{
    margin-bottom:25px;
    line-height:20 0px;
}
.texto--apresentação{
    font-family:sans-serif;
    font-size:21px;
    margin:0;
    font-weight:bolder;
    line-height:60px;
    color:#2c2727;
    margin-bottom: 5px;
    text-shadow: 2px 0px 6px #000;

}
.area2{
display: grid;
grid-template-columns:repeat(2,1fr);

}

.area2--content{
    padding:80px;
}
.texto--area2{

    margin-bottom:15px;
    line-height: 25px;
}
.texto2--area2{
    margin-bottom:25px;
    line-height:20 0px;
}
.area2--img1{
    background-color: rgb(245, 245, 245);
    height:200px;
    background-image:url('../images/imagem\ fundo.png');
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
}

.area2--img2{
    grid-column: 1/2;
    grid-row: 1/3;
    background-image:url('../images/igreja\ matriz.avif');
    background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
;
}
.area3 {
display: grid;
grid-template-columns:repeat(2,1fr);
}

.area3--content{
    padding:80px;
}
.area3--texto{

    line-height: 25px;
    margin-bottom:15px;

}
.area3--img{
    background-image:url('../images/Ginásio-de-esportes.png');
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
}
.area4{
    display:grid;
    grid-template-columns: 500px 1fr;
}
.area4--content{
    padding:150px 80px;
}
.area4--texto{
    line-height: 25px;
    margin-bottom:15px;
}
.area4--img{
    background-image:url('../images/imagem\ final.jpeg');
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    margin-top: 80px;
}
 footer{
    background-color: #333;
    color:#fff;
    padding:60px;
    text-align: center;
}
@media (min-width:768px) and (max-width:1023px){
    .container{
        padding-left:20px;
        padding-right:20px;
    }
    .images img{
    width:220px;
    height:220px;
    border: 1px solid #005c80;
    margin-right: 10px;}

    .texto--apresentação{
    font-size: 25px;
    font-family:sans-serif;
    margin:0;
    font-weight:bolder;
    line-height:60px;
    color:#2c2727;
    margin-bottom: 5px;
    text-shadow: 10px 0px 10px #000;
    }

}
@media(min-width:1024px) and (max-width:1439px){
   .container{
        padding-left:20px;
        padding-right:20px;
    }
    .images img{
    width:300px;
    height:300px;
    border: 1px solid #005c80;
    margin-right: 10px;}
}
@media (max-width: 425px){
    .texto--apresentação{
    font-size: 12px;
    font-family:sans-serif;
    margin:0;
    font-weight:bolder;
    line-height:60px;
    color:#2c2727;
    margin-bottom: 5px;
    text-shadow: 14px 0px 12px #000;
    }

    .container{
        padding-left:15px;
        padding-right:15px;
    }
    .header--search input{
        max-width:100px;
    }
    h1{
        font-size: 40px;
        line-height:40px;
    }
    .header--area{

    align-items:center;
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
    padding:15px 0;

    }
.images img{
    width: 80px;
    height:80px;
    border: 1px solid #005c80;
    margin-right: 10px;
}
 .area1{
    grid-template-columns:1fr;
 }
 .area1--content{
    padding:60px;
 }
 .area2{
    grid-template-columns: 1fr;
 }
 .area2--content{
    padding:60px;
 }
 .area3{
    grid-template-columns: 1fr;
 }
 .area3--content{
    padding:60px;
 }
 .area4{
    grid-template-columns: 1fr;
 }
    .area4--content{
        padding:60px;
    }
    footer{
    font-size: 15px;
    padding:10px 5px;
    }
}